{% extends "admin/base_site.html" %}

{% load i18n %}

{% block title %}{{ site.name }} How-To {{ block.super }} {% endblock %}

{% block extrastyle %}
  {{ block.super }}

  <style type="text/css">
    #content-main h4 {cursor: pointer; border:solid #eee; border-width:1px 0; margin:0 0 -1px; padding:.5em 10px}
    #content-main h4:hover {background:#f0f0f0}
    #content-main ol {margin: .5em .25em 0}
    #content-main ol ol {list-style: square}
    #content-main ol li {padding-bottom: 1em}
    .dashboard #content {width:700px; font-size:110%}
  </style>

  <style type="text/css" media="print">
    #content-main > ol {display:block !important}
    #content-related {display:none}
    .dashboard #content {width:90%}
  </style>
{% endblock %}

{% block extrahead %}
  <script src="/static/admin/js/jquery.min.js"></script>
  {{ block.super }}

  <script>
    (function($) {
      $(document).ready(function() {
        $('#content-main ol').hide();
        $('#content-main h4').click(function(){
          $(this).parent().find('ol').toggle();
        });
      });
    })(jQuery);
  </script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">Home</a> > How-To</div>{% endblock %}

{% block content %}
  <h1>{{ site.name }} Admin How-To</h1>
  <div id="content-main" class="module">

    {% for app, how_to in how_tos.items %}
      <div id="#{{ app|slugify }}">
        {{ how_to|safe }}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}
  <div id="content-related">
    <div class="module">
      <h2>{% trans 'Jump To' %}</h2>
        <ul class="actionlist" id="jumplist">
          {% for app in how_tos %}
            <li>
              <a href="#{{ app|slugify }}">{{ app|title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    <small>
      Note: In all likelihood, many of these items will not be in your admin. 
      If you think they should be available to you, 
      anyone with Administrator privileges can turn them on for you.
    </small>
  </div>
{% endblock %}
