include LICENSE README.md CHANGES.md
recursive-include tango_shared *.html
recursive-include tango_shared *.css
recursive-include tango_shared *.js

recursive-include docs *.txt
recursive-include docs *.md
