include LICENSE README.md
recursive-include tango_shared *.html
recursive-include tango_shared *.css
recursive-include tango_shared *.js
recursive-include tango_shared *.txt

recursive-include docs *.txt
